body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px; 
}
.container {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    float: left;
    min-width: 300px;
    min-height:100px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-top: 10px;
    background-color: #d9e6f2;
    border-radius: 15px;
}
.forum-div {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    float: left;
}
.cars-table, .cars-tr, .cars-th, .cars-td {
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #1f7a7a;
    border-collapse: collapse;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 8px;
    padding-right: 8px;
}
.cars-th {
    background-color: #47d1d1;
    color: #19334d;

}
.cars-td {
    background-color: #ebfafa;
}
.forum-table, .forum-tr, .forum-th, .forum-td {
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
    border-collapse: collapse;
    font-family: sans-serif;
    padding: 10px;
}
.forum-th {
    background-color: #193A7A;
    color: aliceblue;
    column-span: all;
}
.forum-td {
    background-color: #E6E6E6;
}
.btn {
    background-color: #264d73;
    color: white;
    font-size: 13px;
    font-weight: 600;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 8px;
    padding-right: 8px;
}
